In [1]:
import numpy as np
import pandas as pd
from catboost import CatBoostRegressor

In [2]:
data = pd.read_csv("C:\\Users\\Dell\\OneDrive\\Desktop\\excel books\\audi.csv")
display(data)

,model,year,price,transmission,dist_travelled,fuelType,tax,mpg,engineSize
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...
10663,A3,2020,16999,Manual,4018,Petrol,145,49.6,1.0
10664,A3,2020,16999,Manual,1978,Petrol,150,49.6,1.0
10665,A3,2020,17199,Manual,609,Petrol,150,49.6,1.0
10666,Q3,2017,19499,Automatic,8646,Petrol,150,47.9,1.4
10667,Q3,2016,15999,Manual,11855,Petrol,150,47.9,1.4

In [3]:
X = data.iloc[:, [0, 1, 3, 4, 5, 6, 7, 8]].values
Y = data.iloc[:, [2]].values

In [4]:
X

array([[' A1', 2017, 'Manual', ..., 150, 55.4, 1.4],
       [' A6', 2016, 'Automatic', ..., 20, 64.2, 2.0],
       [' A1', 2016, 'Manual', ..., 30, 55.4, 1.4],
       ...,
       [' A3', 2020, 'Manual', ..., 150, 49.6, 1.0],
       [' Q3', 2017, 'Automatic', ..., 150, 47.9, 1.4],
       [' Q3', 2016, 'Manual', ..., 150, 47.9, 1.4]], dtype=object)

In [10]:
from sklearn.preprocessing import OneHotEncoder , OrdinalEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('ordinal', OrdinalEncoder(), [0, -4]),  # Ordinal encoding for specified columns
        ('onehot', OneHotEncoder(), [2])         # One-hot encoding for 3rd column (index 2)
    ],
    remainder='passthrough'
)

In [11]:
from sklearn.pipeline import Pipeline

In [12]:
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('scaler', StandardScaler()),          # Standardize all features
    ('model', CatBoostRegressor(verbose=0)) # CatBoost regressor
])

In [13]:
pipeline.fit(X, Y)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ordinal', OrdinalEncoder(),
                                                  [0, -4]),
                                                 ('onehot', OneHotEncoder(),
                                                  [2])])),
                ('scaler', StandardScaler()),
                ('model',
                 <catboost.core.CatBoostRegressor object at 0x0000019C546768E0>)])

In [20]:
import os 
os.getcwd()
os.chdir("C:\\Users\\Dell\\OneDrive\\Desktop\\CAR Price Prediction")

In [21]:
import pickle
with open('model_pipeline.pkl', 'wb') as f:
    pickle.dump(pipeline, f)